spring:
  datasource:
    hikari:
      driver-class-name: org.mariadb.jdbc.Driver
      jdbc-url: jdbc:mariadb://autocrypt-fms-dev.cwqamuj6fovd.ap-northeast-2.rds.amazonaws.com/tmp?autoReconnect=true
      username: admin
      password: Autocrypt123!
      maximum-pool-size: 5
      idle-timeout: 10000
      max-lifetime: 420000
      connection-timeout: 10000
      validation-timeout: 10000
    dbcp2:
      test-while-idle: true
      validation-query: "SELECT 1"
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true